.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem;
	font-size: 1.5rem;
}

td > a {
	display: flex;
	justify-content: center;
}

.result {
	font-size: 3rem;
	text-align: center;
}
.result a {
	font-size: 2rem;
}