.root {
	padding: 3rem;
	overflow: auto;
	font-size: 1.5rem;
}

h1 {
	margin-left: auto;
	text-align: center;
}

.item {
	margin: 2rem 0;
}

.title {
	margin-bottom: 1rem;
}

.root img {
	margin: .5rem;
}

.cont {
	background: #234;
	width: fit-content;
	white-space: nowrap;
	margin: .5rem 0;
	border-radius: 1rem;
}

.nastup {
	color: #e33;
}